// @import "@fortawesome/fontawesome-free/css/all.css";
// @import "node_modules/bootstrap/scss/bootstrap";
//----------------IMPORT--------------------------
//import le fichier _donsvivant.scss
@import "./styles/donsvivant";

//STYLE BARRE NAV -----------------------------------------------------------------
nav{
    height: 80px;
    ul{

        li{
            
            a:hover{

            }

        }

    }

}

header {
    text-align: center;
    //padding: 0.5rem 0 5rem;
    font-size: 1.25rem;
  
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
  
  li {
    display: inline-flex;
  
  a {
    position: relative;
    padding: 1rem 0 0.5rem;
    margin: 0 1.5rem;
    color:#6b2775; 
    text-decoration: none;
    text-transform: uppercase;
    
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%) scaleX(0);
      transform-origin: 50% 50%;
      width: 100%;
      height: 1px;
      background-color:#086375 ;
      box-shadow: 9px 7px 17px 2px   #6B2775 ;
      transition: transform 450ms;
    }
    
    &:hover {
      
      &::after {
        transform: translateX(-50%) scaleX(1);
        }
        
      }
      
    }
  }

  #content_logo{

    text-align: center;
    padding: 15px;

    img{

        height: 80px;
        width: 80px;

    }

  }
}

//--------------------------------------CSS QUI SOMMES NOUS -----------------------------------------
html, body{

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;


}
//CSS CARTE PRESENTATION
  /* Pour ce qui est des propriétés du type perspective, transform, transition ou encore backface et selon les navigateurs Internet, il faut rajouter les préfixes correspondants: -webkit, -moz-, ms- ou -o*/
  .flippingcard {
      position: relative;
      display: inline-block;
      margin: 50px;
      margin-left: 99px;
  }
  div[class^="card"] {
      height: 300px;
      width: 200px;
      perspective-origin: center bottom;
      position: relative;
  }
  div[class^="card"] [class^="face"] {
      /* Dans ce cas, il faut laisser un espace entre les deux sélecteurs d'attributs ([class^="card"] et [class^="face"]) */
      /*ATTENTION: L'option TidyUp de JsFiddle va automatiquement enlever l'espace entre les deux sélecteurs d'attributs*/
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      transition-duration: 0.5s;
      transition-property: transform;
      transition-timing-function: ease-out;
  }

  .face-back{
      padding: 15px;
  }

  #face-Annick  {
      background-image: url('static/Illuannick.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 300px;
      width: 200px;
      z-index: 5;
      transform: rotateY(180deg);
      border-radius: 5px;
      padding: 15px;
      box-shadow: 9px 7px 17px 2px  #086375 ;
  }

  #face-Mad  {
      background-image: url('static/madi.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 300px;
      width: 200px;
      z-index: 5;
      transform: rotateY(180deg);
      border-radius: 5px;
      padding: 15px;
      box-shadow: 9px 7px 17px 2px  #086375 ;
  }

  #face-Melo  {
      background-image: url('static/illuChrrrrrr.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 300px;
      width: 200px;
      z-index: 5;
      transform: rotateY(180deg);
      border-radius: 5px;
      padding: 15px;
      box-shadow: 9px 7px 17px 2px  #086375 ;
  }
  div[class^="card"] .face-back {
      background-color: #1DDBB0  ;
      z-index: 0;
      transform: rotateY(-180deg);
  }
  div[class^="card"].rotated .face-front  {
      z-index: 5;
      transform: rotateY(180deg);
  }
  div[class^="card"].rotated .face-back {
      z-index: 10;
      transform: rotateY(0deg);
  }
  button {
      margin-top: 60px;
      background-color: #6B2775 ;
      border-radius: 4px;
      width: 231px;
      padding: 6px;
      border: none;
      height: 40px;
      z-index: 10;
      cursor: pointer;
  }

  .face-back > p {
      text-align: center;
      margin-top: 20%;
      font-size: larger;
  }

  #presentation{
    
      text-align: center;
      width: 80%;
      margin-left: 9%;
      p{
          width: 50%;
          text-align: center;
          margin: 0 auto;
          padding: 15px;
          font-size: large;
      }

      border-bottom: 1px solid #6B2775  ;
      border-width: 80%;
  }

  #contain_card{
      text-align: center;
      margin-top: 20px;
     
  }

//CSS RESTE DU SITE ------------------------------------------------

footer{

  background-image: url('static/illuQuiSommeNous1.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 59%;
  height: 34%;

}

/*
--Couleurs--
 #6B2775 : mauve foncé
 #086375 : turquoise foncé
 #1DDBB0 : turquoise clair
 #AFFC41 : Lime (citron vert)
 #B2FF9E : Vert clair 
*/
/*@font-face {
    font-family: "Oxford";
    src: url(/polices/Oxford-LAqy.ttf) format("truetype");
    font-family: "Playfair";
    src: url(/polices/PlayfairDisplay-VariableFont_wght.ttf) format("truetype");
    font-family: "Playfair-italic";
    src: url(/polices/PlayfairDisplay-Italic-VariableFont_wght.ttf)
      format("truetype");
    font-family: "Helvetica Now";
    src: url(/polices/HelveticaNowDisplayXBlk.otf) format("truetype");
}*/

* {
    font-family: "Playfair";
  }
  nav {
    height: 100%;
  }
  header {
    text-align: center;
    padding: 0.5rem 0 5rem;
    font-size: 1.25rem;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-flex;
  }
  
  a {
    position: relative;
    padding: 1rem 0 0.5rem;
    margin: 0 1.5rem;
  
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 1px;
    background-color: #6b2775;
    color: #086375;
    transition: transform 500ms;
  }
  .nav-link:hover::after {
    transform: translateX(-50%) scaleX(1);
  }
  
  /*# sourceMappingURL=style.css.map */
  /*------------------------------------------------------------------------*/
  
  .nav-link {
    color: #6b2775;
  }
  
  .navbar-brand {
    color: #6b2775;
    margin: 16px;
  }
  
  #nomSite {
    margin-top: 17px;
    margin-bottom: 1rem;
  }
  
  #logo {
    height: 80px;
    width: 80px;
  }
  
  footer {
    display: flex;
  }
  footer > div > p {
    color: #6b2775;
    font-weight: bold;
  }
  
  footer > div > img {
    height: 80px;
    width: auto;
  }
  
  .aFooter {
    text-decoration: none !important;
    text-transform: uppercase;
    color: #6b2775 !important;
  }
  
  .aFooter:hover {
    transform: none !important;
  }