/* dependencies */
//@import "@fortawesome/fontawesome-free/css/all.css";
@import "tiny-slider/dist/tiny-slider.css";
// @import "~bootstrap/scss/bootstrap";

/* local imports */
@import "./styles/variables";
//@import "./styles/fonts";
//@import "./styles/base";
#section_acceuil {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display";
  }
  .text {
    margin-bottom: 50px;
  }

  header,
  footer {
    height: 150px;
  }
  .hello {
    padding-left: 350px;
    text-align: left;
    font-size: large;
    color: $thirdary_color;
  }
  .ics {
    margin-left: 350px;
    display: flex;
    font-size: larger;
    color: $secondary_color;
    // font-weight: 900;
    .intro {
      font-size: large;
      text-align: justify;
      margin-right: 300px;
    }
  }

  .pres {
    .titre1 {
      width: 300px;
      text-align: left;
    }
  }
  .mini-intro {
    padding-left: 350px;
    color: $secondary_color;
    font-size: medium;
    text-align: left;
  }

  .my-slider {
    //   justify-content: space-around;
    .tns-slide-active img {
      width: 380px !important;
      height: 380px !important;
      transition: all 1s;
    }
    .tns-slide-active ~ .tns-slide-active {
      img {
        width: 250px !important;
        height: 250px !important;
        transition: all 1s;
      }
    }
    .slider-img {
      width: 250px;
      height: 250px;
      transition: all 1s;
    }
  }

  .tns-controls {
    display: none;
  }
  [data-action="stop"] {
    display: none;
  }
}
