/* dependencies */
@import "@fortawesome/fontawesome-free/css/all.css";
@import "leaflet/dist/leaflet.css";
@import "leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css";

/* local imports */
@import "./styles/_variables";
@import "./styles/_leaflet";

#section_contact {
  * {
    box-sizing: border-box;
  }

  h1 {
    color: $primary_color !important;
    text-align: center;
  }
  a {
    color: $fifth_color;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  #map {
    height: 300px;
    margin: auto;
    z-index: 1;
  }
}

#section_contact {
  .text {
    text-align: center;
    font-family: "Playfair Display";
    margin-top: 35px;
  }

  .logo {
    display: flex;
    position: relative;
    z-index: 2;
    width: 220px;
    height: 220px;
    background-image: url("static/mains.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 101%;
    margin: auto;
    border-radius: 50%;
    border: 15px solid $thirdary_color;
    border-color: rgba(19, 232, 242, 0.7);
    margin-top: -100px;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
  }
  .infos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    height: 435px;
    z-index: 1;
    color: $secondary_color;
    font-size: small;
    background-color: white;
    text-align: center;

    .containt_info {
      font-family: "Playfair Display";
      transition: all 0.2s ease-in-out;
      margin-top: 70px;
      display: flex;
      background-color: $primary_color;
      color: $fifth_color;
      width: 230px;
      height: 200px;
      text-align: center;
      border-radius: 10%;
      padding-left: 30px;
      line-height: 2px;
      margin: auto;
      //box-shadow: 10px 10px 5px grey;
      box-shadow: 9px 7px 17px 2px $secondary_color;

      font-size: large;
      .fa {
        font-size: 80px;
      }
      .coordonne {
        text-align: center;
        width: 85%;
        margin-top: 18%;

        p {
          margin-top: 37px;
        }

        .icone {
          // height: 80px;
          font-size: large;
        }

        .fa-phone-alt {
          color: $thirdary_color;
        }

        .fa-paper-plane {
          color: $thirdary_color;
        }
        .fa-envelope-open-text {
          color: $thirdary_color;
        }

        .fa-file-alt {
          color: $thirdary_color;
        }
      }
    }
  }

  .containt_info:hover {
    transform: scale(1.5);
  }
}
