/* dependencies */
@import "@fortawesome/fontawesome-free/css/all.css";
@import "leaflet/dist/leaflet.css";
@import "leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css";

/* local imports */
@import "./styles/_variables";
@import "./styles/_leaflet";

#section_contact{
* {
  box-sizing: border-box;
}

h1 {
  color: $secondary_color !important;
}
a {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
/****************************************************************
//CARTE-MAP 
***************************************************************/
#map {
  height: 300px;
  margin: auto;
  z-index: 1;
}
/***************************************************************
//LOGO: MAINS ou COEUR: TBD
****************************************************************/

#section_contact {
  span {
    margin-left: 20%;
  }

  .logo {
    display: flex;
    position: relative;
    z-index: 2;
    width: 220px;
    height: 220px;
    background-image: url("static/mains.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 101%;
    margin: auto;
    border-radius: 50%;
    border: 15px solid $thirdary_color;
    border-color: rgba(19, 232, 242, 0.7);
    margin-top: -100px;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
  }
  /****************************************************
  //BAS DE PAGE: PARTIE INFOS - GRAND/PETIT ? TBD
  *****************************************************/

  .infos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    height: 500px;
    z-index: 1;
    //margin-top: -150px;
    color: $secondary_color;
    font-size: small;
    background-color: white;
    text-align: center;
    //background-image: url("static/mains.png");
    .uno,
    .dos,
    .tres,
    .quatro {
      margin-top: 70px;
      display: flex;
      color: $secondary_color;
      width: 200px;
      height: 200px;
      background-color: $thirdary_color;
      border-radius: 25%;
      padding-left: 30px;
      line-height: 2px;
      margin: auto;
      box-shadow: 10px 10px 5px grey;
    }
    /*.uno {
      padding-left: 35px;
    }
    .dos {
      padding-left: 10px;
    }*/

    // }
    .text {
      text-align: center center;
    }
  }
  .icon {
    font-size: large;
    .fas,
    .fad {
      width: 50px;
      height: 50px;
      margin-top: 25px;
      padding: 10px 10px 10px 10px;
      align-self: center;
      align-content: center;
      text-align: center center;
      justify-items: center center;
      justify-content: center center;
      background-color: $fourth_color;
      border-radius: 12px;
      color: $secondary_color;
      border: 1px solid $secondary_color;
      // font-size: 28px;
    }
  }
}
/****************************************************
//BAS DE PAGE: FOOOTER Comment le faire GRAND/PETIT ? TBD
*****************************************************/
