#section_donsvivant {
  font-family: "Playfair Display";
  width: 80%;
  height: 100%;
  margin: 5%;

  section {
    text-align: justify;

    div {
      text-align: justify;
    }

    a:link {
      text-decoration: none;
      padding: 0;
      color: inherit;
      margin: 0;
      text-transform: initial;
    }
    /*ul {
      margin: 60px;
    }*/
  }
  h1 {
    color: $primary_color;
  }
  h2 {
    color: $secondary_color;
  }
  h3 {
    color: $thirdary_color;
  }

  #section_don_plasma {
    div {
      padding: 15px;
      img {
        padding: 10px;
      }
    }
  }

  #illu_rein {
    height: 300px;
    width: 300px;
  }
}
