#section_donsvivant {
  font-family: "Playfair Display";
  width: 80%;
  height: 100%;
  margin: 5%;

  section {
    text-align: justify;
    img {
      margin: 0 50% 0 50%;
    }
    div {
      text-align: justify;
    }

    a:link {
      text-decoration: none;
      padding: 0;
      color: inherit;
      margin: 0;
      text-transform: initial;
    }
    /*ul {
      margin: 60px;
    }*/
  }
  h2 {
    text-align: center;
  }
}

#section_dons_cheveux {
  ul {
    padding: 0;
    margin: 0;

    li {
      list-style-type: disc !important;
    }
  }
}
