#section_donsmort {
  h1 {
    color: $primary_color;
  }
  h2 {
    color: $secondary_color;
  }
  h3 {
    color: $thirdary_color;
  }
  margin: 5%;
}
#coeurIllu {
  height: 250px;
  width: 250px;
}

#coeur_meca {
  height: 250px;
  width: 250px;
}

#content_meca {
  background-color: rgba(220, 220, 220, 0.363);
  box-shadow: 9px 7px 17px 2px $secondary_color;

  padding: 15px;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-top: 45px;
  p {
    padding: 100px;
  }
}
