#section_donsvivant{

    width: 80%;
    height: 100%;
    margin: 5%;
   
    section{
        
        div{

            text-align: justify;


        }

        a:link{

            text-decoration: none;
            padding:0;
            color: inherit;
            margin: 0;
            text-transform: initial;
        
    
    
    
        }
        ul{

            margin: 60px;

    
    
        }

    }
    h2{

        text-align: center;


    }
    
   

}