/*@font-face {
  font-family: "Playfair";
  src: url(/styles/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf)
    format("truetype");
  font-family: "Playfair-italic";
  src: url(/styles/fonts/PlayfairDisplay-VariableFont_wght.ttf)
    format("truetype");
}*/
