/****************************************************
//BAS DE PAGE: FOOTER: Comment le faire GRAND/PETIT ? TBD
*****************************************************/

.footer {
  display: flex;
  height: 300px;
  width: 100%;
  .presentation {
    width: 30%;
    display: inline;
    flex-direction: column;
    font-size: medium;
  }
  .footer-nav,
  .others {
    display: inline;
    flex-direction: column;
    font-size: small;
    width: 35%;
    // text-align: left;
    text-align: center;
    align-content: center;
  }
  .others {
    .site {
      margin: auto;
      justify-content: center;
      align-content: center;
      text-align: center;
    }
  }
  .footer-footer {
    justify-content: center;
  }
  .footer-footer > li > a {
    font-size: 9px;
  }
  .RS {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .RS > div {
    width: 75px;
    height: 75px;
    display: flex-inline;
    flex-direction: row;
    border: 2px solid $primary_color;
    border-radius: 35%;
    box-shadow: 5px 5px 2px cadetblue;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    left: 50%;
  }
}
.partenaires {
  display: flex;
  align-items: center;
  margin: auto;
  opacity: 0.7;
  .partenaires:hover {
    cursor: pointer;
    opacity: 1;
  }

  .uza {
    width: 227px;
    height: 100px;
    .uza:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
  .erasme {
    width: 148px;
    height: 148px;
    .erasme:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
  .hopitaux {
    width: 260px;
    height: 135px;
  }
  .uzleuven {
    width: 184px;
    height: 194px;
    .uzleuven:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
  .chuliege {
    width: 227px;
    height: 100px;
    .chuliege:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}
.mini-footer {
  width: 100%;
  height: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 30px;
  #mini-heart {
    width: 20px;
    height: 20px;
  }
  a {
    color: $secondary_color;
    text-decoration: underline;
    font-size: xx-small;
    a:hover {
      color: $primary_color;
      text-decoration: underline $secondary_color;
    }
  }
}
