#section_nav{
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          //display: inline-flex;
        
          a {
          position: relative;
          padding: 1rem 0 0.5rem;
          margin: 0 1.5rem;
          color:#6b2775; 
          text-decoration: none;
          text-transform: uppercase;
          
          &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%) scaleX(0);
            transform-origin: 50% 50%;
            width: 100%;
            height: 1px;
            background-color:#086375 ;
            box-shadow: 9px 7px 17px 2px   #6B2775 ;
            transition: transform 450ms;
          }
          
          &:hover {
            
            &::after {
              transform: translateX(-50%) scaleX(1);
              }
              
            }
            
          }
        }




    }
}