$primary_color: #6b2775; //mauve foncé
$secondary_color: #086375; //turquoise foncé
$thirdary_color: #1ddbb0; //turquoise clair
$fourth_color: #affc41; //Lime (citron vert)
$fifth_color: #b2ff9e; //Vert clair
