<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dons D'organe de sa mort</title>
    <link rel="stylesheet" href="../style.css" />
</head>
<body>
    <header>
        <div id="content_logo">
          <a><img src="../static/heartLogo.png" alt="Logo ICS" /></a>
        </div>
        <nav>
          <ul>
            <li><a href="donsvivant.html">Dons de votre Vivant</a></li>
            <li><a href="donsmort.html">Dons de votre Mort</a></li>
            <li><a href="actualites.html">Actualité</a></li>
            <li><a href="quisommenous.html">Qui sommes nous? </a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </header>
    <h2>L'intervention dure 6 à 8 heures. Trois types de greffes peuvent être réalisés :
    </h2>
    <section></section>
    <script src="./script.js"></script>
</body>
</html>